{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="starter-template">
            <h1>Bienvenue sur la page</h1>
            {% for i in video %}
                {% if i.id == null %}
                    <p>Pas de vidéo</p>
                {% else %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Lien</th>
                        <th>Date de création</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ i.title }}</td>
                        <td>{{ i.description }}</td>
                        <td><a href="{{ i.url }}">{{ i.url }}</a></td>
                        <td>{{ i.dateCreation.date }}</td>
                    </tr>
                </tbody>
            </table>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
