{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom de la catégorie</th>
                    <th>Description de la catégorie (optionnel)</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for i in cat %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.description }}</td>
                        <td><a href="{{ path('categoryUpdate', {"id": i.id}) }}">Modifier</a></td>
                        <td><a href="{{ path('categoryDelete', {"id": i.id}) }}">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}